body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.imagem-logo {
    width: 31px;
    height: 48px;
    margin-top: 40px;
    margin-left: 84px;
}

.conteudo {
    display: flex;
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}

.conteudo-principal {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
}

.texto {
    width: 377px;
    padding: 7px;
    font-size: 18px;
    margin-top: 63px;
}

.texto::placeholder {
    color: #0A3871;
}

.observacao-texto {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.observacao-texto img {
    width: 16px;
    height: 16px;
}

button {
    width: 150px;
    padding: 10px;
    border-radius: 14px;
}

.button-criptogra {
    background: #0A3871;
    color: white;
    border: none;
}

.button-descripto {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #000000;
}

.caixa-mensagem {
    width: 312px;
    height: 455px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-imagem-mensagem {
    width: 151px;
    height: 175px;
    border: 1px solid black;
    margin: 0 auto;
}

.imagem-mensagem {
    width: 100%;
}

.descricao-titulo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #343A40;
}

.descricao-mensagem{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
}

footer {
    text-align: center;
    
    background: #c9deedd9;
}

footer p {
    font-weight: bold;
    padding: 22px;
    margin-bottom: 0;
}