body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    height: 100vh;
    background-image: linear-gradient(11deg, #c9deedd9, transparent);
}

.imagem-logo {
    width: 31px;
    height: 48px;
    margin-top: 40px;
    margin-left: 84px;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-texto {
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
    text-align: center;
}

.input-texto::placeholder {
    color: #0A3871;
    opacity: 0.3;
}

.observacao-texto {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.observacao-texto img {
    width: 16px;
    height: 16px;
}

button {
    width: 150px;
    padding: 10px;
    border-radius: 14px;
}

.button-criptogra {
    background: #0A3871;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
}

.button-criptogra:hover {
    background: #031e41;
}

.button-descripto {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
}

.button-descripto:hover {
    background-color: rgb(144, 181, 206);
}

.caixa-mensagem {
    width: 312px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-imagem-mensagem {
    width: 151px;
    height: 175px;
    border: 1px solid black;
    margin: 0 auto;
}

.imagem-mensagem {
    width: 100%;
}

.descricao-titulo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #343A40;
}

.descricao-mensagem{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
}

.mensagem-textoarea {
    border-radius: 5px;
    padding: 7px;
    resize: none;
}

.caixa-mensagem-crypto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-copiar {
    background: #2376b1;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 24px;
    margin-bottom: 14px;
}

.botao-copiar:hover {
    background: #3d6497;
}

/* footer */
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c9deedd9;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.imagem-rede-social {
    width: 46px;
    opacity: 0.4;
}

.imagem-rede-social:hover {
    opacity: 1;
}

.caixa-mensagem-crypto {
    display: none;
}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {

    body {
        height: 100%;
    }

    .imagem-logo {
        width: 20px;
        height: 32px;
    }

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .input-texto {
        width: 100%;
    }

    .botoes-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botes-cript-descript {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
    }

    .button-criptogra {
        width: 100%;
    }

    .button-descripto {
        width: 100%;
    }

    .caixa-mensagem {
        margin-top: 20px;
    }

    .caixa-imagem-mensagem {
        display: none;        
    }

    .botao-copiar {
        width: 100%;
    }

    .rodape {
        position: relative;
        margin-top: 10px;
    }

}